
main{height: 450px;
        width: 450px;
        display: grid;
        grid-template: auto /auto auto auto;
        grid-gap: 6px;
        margin: auto;
        margin-top: 50px ;
        }

h1{font-style: italic;
    font-weight: bolder;}


.estiloJogo{height: 150px;
                width: 150px;
                background-color: rgb(253, 238, 222);
                border-style: solid;
                border-width: 1px ;}


.estiloX{/*margin-top: 10px;
            margin-left: 10px;*/
            padding: 25px;}

.estiloBotao{background-color: green;
                color: white;
                padding: 15px;
                border-style: none;
                border-radius: 15px;
                transition-property: background-color;
                transition-duration: 0.5s;}

.estiloBotao:hover{background-color: rgb(19, 209, 19);}

footer{text-align: center;}

/*@media screen and (max-width: 510px) {
    
    .main{height: 300px;
            width: 300px;
            grid-gap: none;}

    .estiloJogo{width: 100px;
                    height: 100px;}

    .estiloX{/*margin-top: 10px;
                margin-left: 10px;
                padding: 0px;}
    

} */


